@using EquipmentManagementSystem.Framework.UI;
<!DOCTYPE html>
<html lang="en">
@{
    //CSS resources

    Html.AppendCssFileParts("~/Content/bootstrap.min.css");
    Html.AppendCssFileParts("~/Content/sb-admin-2.css");
    Html.AppendCssFileParts("~/Content/plugins/metisMenu/metisMenu.min.css");
    Html.AppendCssFileParts("~/Content/plugins/morris.css");
    Html.AppendCssFileParts("~/Content/plugins/timeline.css");
    Html.AppendCssFileParts("~/fonts/font-awesome/css/font-awesome.min.css");

    Html.AppendScriptParts("~/Scripts/customValidate.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/bootstrap.js");
    Html.AppendScriptParts("~/Scripts/respond.js");
    Html.AppendScriptParts("~/Scripts/sb-admin-2.js");
    Html.AppendScriptParts("~/Scripts/plugins/metisMenu/metisMenu.min.js");
    




}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <!-- Bootstrap Core CSS -->
    @Html.EmsCssFiles(this.Url, ResourceLocation.Head)



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
    <script src="http://cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>


    
    @Html.EmsScripts(this.Url, ResourceLocation.Head)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Quan Ly Thiet Bi</a>
            </div>
            @Html.Partial("_NavbarHeader")
            @Html.Partial("_Menu")
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            @Html.Partial("Notifications")
                        </p>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    @RenderSection("scripts", required: false)

    @Html.EmsCssFiles(this.Url, ResourceLocation.Foot)
    @Html.EmsScripts(this.Url, ResourceLocation.Foot)
    
    <link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css" />
</body>
</html>
