@using EquipmentManagementSystem.Framework.UI
@{
    //CSS resources

    
    Html.AppendCssFileParts("~/Content/sb-admin-2.css");
    Html.AppendCssFileParts("~/Content/plugins/metisMenu/metisMenu.min.css");
    Html.AppendCssFileParts("~/Content/plugins/morris.css");
    Html.AppendCssFileParts("~/Content/plugins/timeline.css");
    Html.AppendCssFileParts("~/fonts/font-awesome/css/font-awesome.min.css");
    Html.AppendCssFileParts("~/Content/bootstrap.min.css");

    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/bootstrap.js");
    Html.AppendScriptParts("~/Scripts/respond.js");
    Html.AppendScriptParts("~/Scripts/sb-admin-2.js");
    Html.AppendScriptParts("~/Scripts/plugins/metisMenu/metisMenu.min.js");




}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <!-- Bootstrap Core CSS -->
    @Html.EmsCssFiles(this.Url, ResourceLocation.Head)



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    @Html.EmsScripts(this.Url, ResourceLocation.Head)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vui lòng đăng nhập</h3>
                    </div>
                    <div class="panel-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)

    @Html.EmsCssFiles(this.Url, ResourceLocation.Foot)
    @Html.EmsScripts(this.Url, ResourceLocation.Foot)
</body>
</html>
